<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="TimeOnChrome App Runtime 2"
          Manufacturer="TimeOnChrome"
          Version="$(var.ProductVersion)"
          UpgradeCode="D8244E0F-9C10-44DC-8D4D-A25FB8EB0D03">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkLicense"
          LicenseUrl="https://timeonchrome-console.pages.dev/app-runtime/" />
    </BootstrapperApplication>
    <Chain>
      <ExePackage SourceFile="!(bindpath.Publish)\TimeOnChrome.AppRuntime.Migration.exe"
                  InstallArguments="--preflight"
                  DetectCondition="0"
                  Permanent="yes"
                  Vital="yes" />
      <MsiPackage SourceFile="!(bindpath.Package)\TimeOnChrome-AppRuntime-win-x64.msi"
                  Visible="no"
                  Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
