<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="TimeOnChrome App Runtime"
           Manufacturer="TimeOnChrome"
           Version="$(var.ProductVersion)"
           UpgradeCode="B646BA2C-3D5F-45B3-8BAA-3277B42C33AD"
           Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="已安装更新版本的 TimeOnChrome App Runtime。" />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="CompanyFolder" Name="TimeOnChrome">
        <Directory Id="INSTALLFOLDER" Name="AppRuntime">
          <Component Id="SetupExecutable" Guid="A7D2D1A3-7EA5-468B-B663-4B953FB21F85">
            <File Id="SetupExecutableFile"
                  Source="!(bindpath.Publish)\TimeOnChrome.AppRuntime.Setup.exe"
                  KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="TimeOnChrome">
        <Component Id="StartMenuShortcut" Guid="5C93627C-7624-4F08-B892-A154DBCE06F3">
          <Shortcut Id="SetupShortcut" Name="电脑应用使用设置"
                    Target="[INSTALLFOLDER]TimeOnChrome.AppRuntime.Setup.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\TimeOnChrome\AppRuntime" Name="Installed"
                         Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <CustomAction Id="CleanupStartupRegistration"
                  FileRef="SetupExecutableFile"
                  ExeCommand="--uninstall-cleanup"
                  Execute="deferred"
                  Impersonate="yes"
                  Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="CleanupStartupRegistration" Before="RemoveFiles"
              Condition="REMOVE = &quot;ALL&quot;" />
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="TimeOnChrome App Runtime" Level="1">
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="SetupExecutable" />
      <Files Include="!(bindpath.Publish)\**" Directory="INSTALLFOLDER">
        <Exclude Files="!(bindpath.Publish)\TimeOnChrome.AppRuntime.Setup.exe" />
      </Files>
    </Feature>
  </Package>
</Wix>
