<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ExtensionSettings</key>
  <dict>
    <key>jdcancbiocacabbjdkngadmjpjmkdnih</key>
    <dict>
      <key>installation_mode</key>
      <string>force_installed</string>
      <key>toolbar_pin</key>
      <string>force_pinned</string>
      <key>update_url</key>
      <string>https://timeonchrome-update.pages.dev/timeonchrome/update.xml</string>
    </dict>
  </dict>

  <key>BrowserSignin</key>
  <integer>2</integer>

  <key>RestrictSigninToPattern</key>
  <string>^[Pp]ierce\.xia@icloud\.com$</string>

  <key>BrowserAddPersonEnabled</key>
  <false/>

  <key>BrowserGuestModeEnabled</key>
  <false/>

  <key>IncognitoModeAvailability</key>
  <integer>1</integer>
</dict>
</plist>
