<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>jdcancbiocacabbjdkngadmjpjmkdnih</key>
  <dict>
    <key>enabled</key>
    <true/>
    <key>deploymentMode</key>
    <string>managed</string>
    <key>managedDeviceToken</key>
    <string>&lt;MANAGED_DEVICE_TOKEN_FROM_CLOUD&gt;</string>
    <key>managedDeviceLabel</key>
    <string>Pierce MacBook Chrome</string>
    <key>managedProfileEmail</key>
    <string>pierce.xia@icloud.com</string>
    <key>allowIdentityRecovery</key>
    <false/>
    <key>cloudEndpoint</key>
    <string>https://guardian-api.william-xia-cn.workers.dev</string>
  </dict>
</dict>
</plist>
